{% extends "base.html" %}
{% load humanize %}

<head></head>

<body id="page-top">

    {% block pagecontent %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 mt-4">Dashboard</h1>
      </div>

      <!-- Content Row -->
      <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Documents</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ doc_counts.total|intcomma }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Finished</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ doc_counts.Finished|intcomma }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-check-circle fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Processing</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ doc_counts.total_processing|intcomma }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clock fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Errors</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ doc_counts.Error|intcomma }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">People</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ entity_count.PERSON.shown|intcomma }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-fw fa-user fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Organizations</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ entity_count.ORGANIZATION.shown|intcomma }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-building fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Places</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ entity_count.LOCATION.shown|intcomma }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-map-marker-alt fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Name Matches</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cluster_count|intcomma }}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-check-double fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
          <!-- DataTables Example -->
          <div class="card shadow mb-4" style="width: 100%">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Entities</h6>
            <div class="card-body">
                <div id="tableButtonGroup" class="btn-group-toggle" data-toggle="buttons" style="padding-bottom: 10px">
                  <button type="button" class="btn btn-success" autofocus="true">All</button>
                  <button type="button" value="PERSON" class="btn btn-primary">People</button>
                  <button type="button" value="ORGANIZATION" class="btn btn-danger">Organization</button>
                  <button type="button" value="LOCATION" class="btn btn-info">Places</button>
                </div>
              <div class="table-responsive">
                <table class="table table-bordered" id="topTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Number of Documents</th>
                      <th>Type</th>
                      <th></th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>

    </div>
      <!-- End of Main Content -->
  </div>
 {% endblock %}
    </div>

</body>

