{% extends "base.html" %}
{% load humanize %}

<head></head>

<body id="page-top">

    {% block pagecontent %}
    <!-- Begin Page Content -->
    {% load static %}
    <script src="{%  static "js/EntitySelection.js" %}"></script>
    <script>
        const entities = ({{ document.selected_entities | safe }})
        setEntities(entities)
    </script>

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Documents</h1>
      </div>
        <div class="row">
          <!-- DataTables Example -->
          <div class="card shadow mb-4" style="width: 100%">
            <div class="card-header py-3">
                <div class="card-body">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Document</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Related Entities</a>
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent" style="padding: 0">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                          <div id="doc-viewport">
                              <span class="doc-text" style="white-space: pre-wrap;">
                                  {{ document.text }}
                              </span>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                          <div class="card shadow mb-4" style="width: 100%">
                            <div class="card-header py-3">
                            <div class="card-body">
                                <div id="tableButtonGroup" class="btn-group-toggle" data-toggle="buttons" style="padding-bottom: 10px">
                                  <button type="button" class="btn btn-success" autofocus="true">All</button>
                                  <button type="button" value="PERSON" class="btn btn-primary">People</button>
                                  <button type="button" value="ORGANIZATION" class="btn btn-danger">Organization</button>
                                  <button type="button" value="LOCATION" class="btn btn-info">Places</button>
                                </div>
                              <div class="table-responsive">
                                <table class="table table-bordered" id="topTable" width="100%" cellspacing="0">
                                  <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Number of Documents</th>
                                      <th>Type</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                </table>
                              </div>
                            </div>
                          </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </div>

      <!-- Content Row -->

        <div class="row">
          <!-- DataTables Example -->
          <div class="card shadow mb-4" style="width: 100%">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">All Documents</h6>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="documentTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Document Name</th>
                      <th>Path</th>
                      <th></th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      <!-- End of Main Content -->
    </div>
 {% endblock %}
    <!-- Page level plugins -->
</body>

