{% extends "base.html" %}
{% load humanize %}

<head></head>

<body id="page-top">

    {% block pagecontent %}
    <!-- Begin Page Content -->
    {% load static %}
    <script src="{%  static "js/MatchSelection.js" %}"></script>

    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 mt-4">Name Matching</h1>
      </div>

        <div class="row">
              <!-- DataTables Example -->
              <div class="card shadow mb-4" style="width: 100%">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Name Matches</h6>
                <div class="card-body">
                    <div id="tableButtonGroup" class="btn-group-toggle" data-toggle="buttons" style="padding-bottom: 10px">
                  <button type="button" class="btn btn-success" autofocus="true">All</button>
                  <button type="button" value="PERSON" class="btn btn-primary">People</button>
                  <button type="button" value="ORGANIZATION" class="btn btn-danger">Organization</button>
                  <button type="button" value="LOCATION" class="btn btn-info">Places</button>
                </div>
                  <div class="table-responsive">
                    <table class="table table-bordered" id="matchesTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Names</th>
                          <th>Number of Documents</th>
                          <th>Type</th>
                          <th>New Alias</th>
                          <th></th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <!-- End of Main Content -->
    </div>
 {% endblock %}
    <!-- Page level plugins -->
</body>

